

body {
    background-color: #272626;
}

#container {
    font: bold 50px Arial, sans-serif;
    color: #e4e4e4fb;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
div {
    margin: 5px;
}
.box1 {
    background-color: #0b8325;
    text-align: center;
    padding: 30px;

}
.box2 {
    background-color: #0b8325;
    text-align: center;
    padding: 30px;
}
.box3 {
    background-color: #0b8325;
    text-align: center;
    padding: 30px;
}
.box4 {
    background-color: #0b8325;
    text-align: center;
    padding: 30px;
}
.box5 {
    background-color: #0b8325;
    text-align: center;
    padding: 30px;
}
.box6 {
    background-color: #0b8325;
    text-align: center;
    padding: 30px;
}
.box7 {
    background-color: #0b8325;
    text-align: center;
    padding: 30px;
}
